* {
    box-sizing: border-box;
}

div {
    background: rgba(0,0,0,.2);


}

.parent {
    width: 800px;
    height: 835px;
    margin: 150px auto 0;
    border: 1px solid;
    background: red;
}

.d-flex {
    display: flex;
    align-items: end;
}
.p-10 {
    padding: 10px;
}

.bg-blue {
    background: #5252a8;
}


.left {
    align-self: stretch;
    top: 0;
}

.bottom {
    margin-right: 10px;
    margin-bottom: 10px;
}

.right {
    width: 600px;
    height: 600px;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 10px;
    background: #44d9a0;


}

.f-basis {
    flex-basis: 200px;
    height: 200px;
}
